@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');

body{
	background-color: #5D6175;
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	line-height: 2.5em;
	padding: 0;
	margin: 0;

}

section{
	min-height: 100vh;
}

p{
	font-weight: medium;
	font-size: 20px;
	color: #A2A4AB;
}

table{
	width: 100%;
	height: 100vh;
	padding: 0;
}

button{
	min-width: 200px;
	padding: 15px 30px;	
	border-width: 2px;
	border-style: solid;
	letter-spacing: 2px;
	font: 20px bold;
	font-family: sans-serif;
	border-radius: 5px;
	background:transparent;
}
button.grey{
	color: #5D6175;
	border-color: #5D6175;
	transition : 0.4s all ease;
}

button.grey:hover{
	color: #FFFFFF;
	background-color: #5D6175;
}

button.green{
	color: #12CD8F;
	border-color: #12CD8F;
	transition : 0.4s all ease;
}


button.green:hover{
	background-color: #12CD8F;
	color: #FFFFFF;

}

.section-1-1, .section-2-1, .section-2-2, .section-3-1, .section-3-2, .section-4-1, .section-4-2, .section-5-1, .section-5-2, .section-6-1, .section-6-2, .section-7-1 {
	width: 500px;
	max-width: 100%;
}

.section-2-1 img{
	height: 450px;
	max-width: 100%;
	margin-left: -100px;
}

.section-2-2{
	color:  #5D6175 ;
}

.section-7-2{
	width: 500px;
	text-align: left;
	line-height: 1.5em;
	max-width: 100%;
}

.section-7-3{
	height: 50px;
	padding-bottom: 30px;
	text-align: left;
	line-height: 1.5em;
	padding-right: 5px
}
.section-7-3 h4{
	margin-bottom: 10px;
}
.section-7-3 input, .section-7-3 select{
	width: 100%;
	padding: 10px;
	max-width: 100%;
	box-sizing: border-box;
	border: 1px solid #5D6175;
	border-radius: 3px;
	background-color:transparent;
}

.logo{
	width: 70px;
	margin-bottom: -15px;
	margin-left: 25px;
}

.logoal{
	width: 120px;
	margin-bottom: -15px;
	margin-left: 25px;
}

.logoom{
	width: 100px;
	margin-bottom: -25px;
	margin-left: 25px;
}

.slidebundar-2{
	margin-left: 25px;
}

.ubuntu{
	font-family: 'Ubuntu', sans-serif;
	font-size: 45px;
	font-weight: bold;
}

.ubuntu-2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: #12CD8F;

}

h3{
	font-size: 25px;
}

h4{
	font-size: 14px;
	margin-top: -10px;
}


.formtext{
	color:#5D6175;
	line-height: 0.1em;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	margin-bottom: 50px;

}

.content{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
#header{
	background: url('images/laptop.png') no-repeat right top;
	background-size: 550px;
}

#about{
	background-color: #FFFFFF;

}

#bem{
	background: url('images/bem.png') no-repeat left ;
	background-size: 550px;
}

#bpm{
	background: url('images/bpm.png') no-repeat left ;
	background-size: 550px;
}

#balwana{
	background: url('images/balwana.png') no-repeat left ;
	background-size: 550px;
}

#etalase{
	background: url('images/etalase.png') no-repeat left ;
	background-size: 550px;
}

#laos{
	background: url('images/laos.png') no-repeat left ;
	background-size: 550px;
}

#binary{
	background: url('images/binary.png') no-repeat left ;
	background-size: 550px;
}

#himasif{
	background: url('images/himasif.png') no-repeat left ;
	background-size: 550px;
}

#himatif{
	background: url('images/himatif.png') no-repeat left ;
	background-size: 550px;
}

#omaco{
	background: url('images/omaco.png') no-repeat left ;
	background-size: 550px;
}

#alazhar{
	background: url('images/alazhar.png') no-repeat left ;
	background-size: 550px;
}


.formtext-judul{
	color: #5D6175;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 2px;
	line-height: 1em;
}

.formtext-1{
	color:#5D6175;
	line-height: 0.1em;
	font-family: 'Quicksand', sans-serif;
	font-weight: medium;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: -50px;
}


.t-area{
	height: 100px;
	width: calc(100% - 10px);
	background-color: #FFFFFe;
	resize: none;
}

input:focus, select:focus , textarea:focus {
	border-color: #12CD8F;
	outline: none;
}
input[type=checkbox]{
	width: 20px;
	border: 3px solid #a1a1a1;
}



.button1 {
	background-color: #12CD8F;
	border: none;
	color: white;
	padding: 10px 25px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

.button2 {
	padding: 10px 0px;	
	border-width: 2px;
	border-style: solid;
	letter-spacing: 2px;
	font: 16px bold;
	font-family: sans-serif;
	border-radius: 0;
	background:transparent;
}

.wrapper {
    width: 100%;
    position: relative;
}

input.slider-dot {
    display: none;
}

.inner {
    width: 1000%;
}

.organisasi {
    width: 10%;
    float: left;
    position: relative;
}
.organisasi .organisasi-info {
    width: 100%;
    height: 100vh;
}

.slider-dot-control {
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
}

.slider-dot-control label {
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: rgba(39,204,145,.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.slider-dot-control label:last-child {
    margin-right: 0;
}

.slider-dot-control label:hover {
    background: #27CC91;
}

/* Slider Styling */
.slider-wrapper {
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.slider-wrapper .inner {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#slide1:checked~.slider-dot-control label:nth-child(1),
#slide2:checked~.slider-dot-control label:nth-child(2),
#slide3:checked~.slider-dot-control label:nth-child(3),
#slide4:checked~.slider-dot-control label:nth-child(4),
#slide5:checked~.slider-dot-control label:nth-child(5),
#slide6:checked~.slider-dot-control label:nth-child(6),
#slide7:checked~.slider-dot-control label:nth-child(7),
#slide8:checked~.slider-dot-control label:nth-child(8),
#slide9:checked~.slider-dot-control label:nth-child(9),
#slide10:checked~.slider-dot-control label:nth-child(10) {
    background: #27CC91;
}

#slide1:checked~.slider-wrapper .inner {
    margin-left: 0%;
}

#slide2:checked~.slider-wrapper .inner {
    margin-left: -100%;
}

#slide3:checked~.slider-wrapper .inner {
    margin-left: -200%;
}

#slide4:checked~.slider-wrapper .inner {
    margin-left: -300%;
}

#slide5:checked~.slider-wrapper .inner {
    margin-left: -400%;
}

#slide6:checked~.slider-wrapper .inner {
    margin-left: -500%;
}

#slide7:checked~.slider-wrapper .inner {
    margin-left: -600%;
}

#slide8:checked~.slider-wrapper .inner {
    margin-left: -700%;
}

#slide9:checked~.slider-wrapper .inner {
    margin-left: -800%;
}

#slide10:checked~.slider-wrapper .inner {
    margin-left: -900%;
}

#form .form-1{
	vertical-align: top;
	width: 40%;
}
#form .form-1 .gambar{
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
}
#form .form-1 .gambar img{
	top: 50px;
	position: relative;
	right: -100px;
}
#form .form-2{
	vertical-align: top;
	padding: 80px;
	padding-left: 150px;
	width: 60%;
	background-color: #FFFFFF;
}
#form .form-2 .form-2-content{
	width: 500px;
	max-width: 100%;
}
#form .form-2 table{
	margin-top: 40px;
	height: auto;
}

@media screen and (max-width: 1000px){
	section{
		padding: 100px 0;
		min-height: auto;
	}
	table{
		height: auto;
	}
	table td{
		vertical-align: middle;
	}
	.content {
		width : 80% 
	}
	.section-1-1, .section-2-1, .section-3-1, .section-3-2, .section-4-1, .section-5-1, .section-5-2, .section-6-1, .section-6-2{
		width: 400px;
	}
	.section-7-1{
		width: 200px;
	}
	button{
		min-width: 150px;
		padding: 10px 20px;
		letter-spacing: 1.5px;
		font: 15px bold;
	}
	.section-2-2{
		width:450px;
	}
	.section-2-1 img{
		height: auto;
		margin-left: -120px;
	}
	h2{
		line-height: 1em;
	}
	.ubuntu-2{
		font-size: 40px;
	}
	.logo{
		width: 50px;
		}	
	p{	
		font-size: 14px;
	}
	body{
		line-height: 2em;
	}
	.slidebundar, .slidebundar-2{
		width: 10px;
		height: 10px;
	}
	 .slidebundar-2{
		margin-left: 10px;
	}
	#header, #bem, #bpm, #balwana, #etalase, #laos, #binary, #himasif, #himatif, #omaco, #alazhar{
		background-size: 350px;
	}
	.formtext-judul{
		font-size: 30px;
		letter-spacing: 2px;
		line-height: 1em;
	}
	#form{
		padding: 0;
	}
	#form .form-1{
		width: 20%;
	}
	#form .form-2{
		width: 80%;
	}
	#form .form-1 .gambar img{
		height: 200px;
	}
	.organisasi .organisasi-info {
        width: 100%;
        height: auto;
    }
    .slider-dot-control {
        bottom: -50px;
    }
}

@media screen and (max-width: 768px){
	.section-1-1, .section-2-1, .section-3-1, .section-3-2, .section-4-1, .section-5-1, .section-5-2, .section-6-1, .section-6-2{
		width: 300px;
	}
	.section-2-1 img{
		margin-left: -50px;
	}
	#header, #bem, #bpm, #balwana, #etalase, #laos, #binary, #himasif, #himatif, #omaco, #alazhar{
		background-size: 250px;
	}
	#form .form-1{
		display: none;
	}
	#form .form-2{
		width: 100%;
		padding: 50px;
	}
	#form .form-2 .form-2-content{
		width: 100%!important;
	}
}

@media screen and (max-width: 480px){
	section{
		padding: 80px 0;
	}
	.section-1-1{
		padding-top: 170px;
	}
	.section-2-2 {
		width: 100%;
	}
	.section-4-2{
		padding-top: 300px;
		width: 100%;
	}
	#daftar-organisasi{
		padding-top: 10px;
	}
	#bem, #bpm, #balwana, #etalase, #laos, #binary, #himasif, #himatif, #omaco, #alazhar{
		background-size: 300px;
		background-position: top left;
	}
	button{
		min-width: 100px;
	}
	.slider-dot-control label {
        width: 10px;
        height: 10px;
    }
}